body {
    background-color: #001437;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: #5ce5d5;
    margin: 3rem;
}

p {
    color: #b8fb3c;
    margin: 3rem;
}

nav {
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    background-color: #7898fb;
}

ul {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    color: #b8fb3c;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #b8fb3c;
}

#JC {
    margin: 0 3rem;
}

#contact {
    margin: 0 3rem;
}

@media (max-width: 1000px){
    nav {
        flex-direction: column;
    }
    nav, nav ul {
        flex-direction: column;
        align-items: center;
    }
    nav ul {
        margin: 0 3rem;
    }
    
    }
}