img {
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    object-fit: cover;
}

body {
    width: 69rem;
    padding: 10%;
}

#photos {
    margin: 0 auto;
    padding: 1rem;
    border-top: 2px solid #f1f1f1;
}

nav {
    margin: 0 auto;
    padding: 0 1rem;
    text-transform: uppercase;

}

p   {
    padding: 0.5rem 1rem;
}