img {
    width: 30%;
    margin: calc(10%/6);
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #f1f1f1;
    margin: 0 calc(10%/6);
    padding: 1rem 0;
    font-family:'Raleway', sans-serif;
    font-size: 1.2em;
}